{{!-- <!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <p><strong>Name:</strong> {{Register.name}}</p>
  <p><strong>Email:</strong> {{Register.email}}</p>
  <p><strong>RegistrationNumber:</strong> {{Register.RegistrationNumber}}</p>
  <!-- Add more user details as needed -->
</body>
</html> --}}
<!-- views/profile.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>{{user.username}}'s Profile</title>
</head>
<body>
  <h1>{{user.username}}'s Profile</h1>
  <p>Email: {{user.email}}</p>
  <p><strong>RegistrationNumber: {{user.RegistrationNumber}}</p>
</body>
</html>

